Repository yorukot/superfile, pull requests merged in 2025-07, with the labels that each got.

#906 fix: clear search bar value on parent directory reset
  src/internal/file_panel.go
  src/internal/handle_file_operation_test.go
  src/internal/handle_panel_movement.go
  src/internal/key_function.go
  src/internal/model.go
  src/internal/model_navigation_test.go
  src/internal/test_utils.go
Labels: pr needs work, bug fixes

#922 feat: update superfile build test for the windows and macOS
  .github/workflows/superfile-build-test.yml
  src/internal/file_operation_compress_test.go
  src/internal/model_navigation_test.go
  src/internal/model_prompt_test.go
  src/internal/ui/prompt/model.go
  src/internal/ui/prompt/tokenize_test.go
  src/internal/utils/file_utils.go
  src/internal/utils/file_utils_test.go
  testsuite/README.md
  testsuite/core/base_test.py
  testsuite/core/test_constants.py
  testsuite/tests/chooser_file_test.py
Labels: pr needs work, high priority

#931 fix: Improve command tokenization to handle quotes and escapes
  src/internal/model_prompt_test.go
  src/internal/ui/prompt/tokenize.go
  src/internal/ui/prompt/tokenize_test.go
Labels: pr needs work, go, test related, bug fixes

#941 fix: windows test ci
  .github/workflows/superfile-build-test.yml
  src/internal/handle_file_operation_test.go
  src/internal/test_utils.go
  src/internal/ui/prompt/tokenize_test.go
Labels: test related

#943 chore: add winget install instruction to readme and website
  README.md
  website/src/content/docs/getting-started/installation.md
Labels: documentation, OS-Windows
