Repository yorukot/superfile, pull requests merged in 2025-06, with the labels that each got.

#865 fix: handle UTF-8 BOM in file reader
  src/internal/model_render.go
  src/internal/model_render_test.go
Labels: bug fixes

#867 Metadata and filepanel rendering refactor
  src/internal/model_render.go
Labels: refactoring

#887 fix: prevent pasting a directory into itself, avoiding infinite loop
  src/internal/handle_file_operation_test.go
  src/internal/handle_file_operations.go
  src/internal/key_function.go
  src/internal/model.go
  src/internal/model_render.go
  src/internal/test_utils.go
  src/internal/type.go
Labels: pr needs work, bug fixes
