Repository yorukot/superfile, pull requests merged in 2025-03, with the labels that each got.

#660 Website changes for new config flag
  website/src/content/docs/configure/config-file-path.md
  website/src/content/docs/configure/custom-hotkeys.mdx
  website/src/content/docs/configure/superfile-config.mdx
  website/src/content/docs/getting-started/tutorial.md
  website/src/content/docs/list/hotkey-list.md
Labels: pending release

#673 Monokai Theme
  asset/theme/ayu-dark.png
  asset/theme/everforest-dark-medium.png
  asset/theme/monokai.png
  src/superfile_config/theme/monokai.toml
  website/src/content/docs/list/theme-list.md
Labels: theme

#643 Add unit tests for sidebar
  gomod2nix.toml
  src/internal/handle_panel_movement.go
  src/internal/sidebar.go
  src/internal/sidebar_test.go
  src/internal/type_utils.go
Labels: test related

#663 Fix windows test failures
  testsuite/core/keys.py
  testsuite/core/test_constants.py
  testsuite/requirements.txt
  testsuite/tests/command_test.py
  testsuite/tests/copy_dir_test.py
  testsuite/tests/copy_test.py
  testsuite/tests/cut_test.py
Labels: test related

#709 Allow specifying directory icon color in theme files
  src/config/icon/function.go
  src/config/icon/icon.go
  src/internal/config_function.go
  src/internal/config_type.go
  src/superfile_config/theme/catppuccin-latte.toml
Labels: theme

#710 Refactor and unit tests for scrolling
  src/internal/function.go
  src/internal/handle_modal.go
  src/internal/handle_panel_movement.go
  src/internal/handle_panel_up_down.go
  src/internal/handle_panel_up_down_test.go
  src/internal/internal_consts.go
  src/internal/key_function.go
  src/internal/model.go
  src/internal/model_render.go
  src/internal/style.go
  src/internal/style_function.go
  src/internal/type.go
  src/internal/type_utils.go
  src/internal/wheel_function.go
  website/astro.config.mjs
  website/src/content/docs/contribute/implementation-info.md
Labels: test related, refactoring

#693 Website updates for release 1.2.1
  website/src/content/docs/changelog.md
  website/src/content/docs/configure/config-file-path.md
  website/src/content/docs/configure/superfile-config.mdx
Labels: pending release

#739 Adding linter to cicd and fix some lint issues
  .golangci.yaml
  src/cmd/main.go
  src/internal/config_function.go
  src/internal/default_config.go
  src/internal/file_operations.go
  src/internal/function.go
  src/internal/handle_panel_movement.go
  src/internal/handle_panel_navigation.go
  src/internal/model_render.go
  src/internal/type.go
  src/pkg/file_preview/image_preview.go
  src/pkg/string_function/overplace.go
Labels: refactoring

#730 Fix crash with opening file with editor on an empty panel
  src/internal/function.go
  src/internal/handle_file_operations.go
  src/internal/handle_modal.go
  src/internal/handle_panel_movement.go
  src/internal/handle_panel_up_down.go
  src/internal/key_function.go
  src/internal/model_render.go
  testsuite/core/base_test.py
  testsuite/tests/empty_panel_test.py
Labels: crash, fixes, high priority pr
