Repository yorukot/superfile, pull requests merged in 2025-04, with the labels that each got.

#736 feat: added a Command-Prompt for SuperFile specific actions
  .gitignore
  main.go
  src/cmd/main.go
  src/config/icon/icon.go
  src/internal/backend/ReadMe.md
  src/internal/common/ReadMe.md
  src/internal/common/config_type.go
  src/internal/common/default_config.go
  src/internal/common/load_config.go
  src/internal/common/predefined_variable.go
  src/internal/common/style.go
  src/internal/common/style_function.go
  src/internal/common/type.go
  src/internal/common/utils/ReadMe.md
  src/internal/common/utils/file_utils.go
  src/internal/common/utils/log_utils.go
  src/internal/common/utils/shell_utils.go
  src/internal/common/utils/tea_utils.go
  src/internal/common/utils/ui_utils.go
  src/internal/config_function.go
  src/internal/default_config.go
  src/internal/file_operations_compress.go
  src/internal/file_operations_extract.go
  src/internal/function.go
  src/internal/get_data.go
  src/internal/handle_file_operations.go
  src/internal/handle_modal.go
  src/internal/handle_panel_navigation.go
  src/internal/handle_pinned_operations.go
  src/internal/key_function.go
  src/internal/model.go
  src/internal/model_prompt_test.go
  src/internal/model_render.go
  src/internal/prerendered_variable.go
  src/internal/string_function.go
  src/internal/style.go
  src/internal/style_function.go
  src/internal/type.go
  src/internal/type_utils.go
  src/internal/ui/ReadMe.md
  src/internal/ui/prompt/ReadMe.md
  src/internal/ui/prompt/consts.go
  src/internal/ui/prompt/error.go
  src/internal/ui/prompt/model.go
  src/internal/ui/prompt/model_test.go
  src/internal/ui/prompt/tokenize.go
  src/internal/ui/prompt/tokenize_test.go
  src/internal/ui/prompt/type.go
  src/internal/ui/prompt/utils.go
  src/internal/ui/prompt/utils_test.go
  src/internal/wheel_function.go
  src/superfile_config/config.toml
  src/superfile_config/hotkeys.toml
Labels: refactoring, new feature, high priority pr

#752 Feat/cmd prompt - Original PR #736 by @Rocco-Gossmann
  .gitignore
  main.go
  src/cmd/main.go
  src/config/icon/icon.go
  src/internal/backend/ReadMe.md
  src/internal/common/ReadMe.md
  src/internal/common/config_type.go
  src/internal/common/default_config.go
  src/internal/common/load_config.go
  src/internal/common/predefined_variable.go
  src/internal/common/style.go
  src/internal/common/style_function.go
  src/internal/common/type.go
  src/internal/common/utils/ReadMe.md
  src/internal/common/utils/file_utils.go
  src/internal/common/utils/log_utils.go
  src/internal/common/utils/shell_utils.go
  src/internal/common/utils/tea_utils.go
  src/internal/common/utils/ui_utils.go
  src/internal/config_function.go
  src/internal/default_config.go
  src/internal/file_operations_compress.go
  src/internal/file_operations_extract.go
  src/internal/function.go
  src/internal/get_data.go
  src/internal/handle_file_operations.go
  src/internal/handle_modal.go
  src/internal/handle_panel_navigation.go
  src/internal/handle_pinned_operations.go
  src/internal/key_function.go
  src/internal/model.go
  src/internal/model_prompt_test.go
  src/internal/model_render.go
  src/internal/prerendered_variable.go
  src/internal/string_function.go
  src/internal/style.go
  src/internal/style_function.go
  src/internal/type.go
  src/internal/type_utils.go
  src/internal/ui/ReadMe.md
  src/internal/ui/prompt/ReadMe.md
  src/internal/ui/prompt/consts.go
  src/internal/ui/prompt/error.go
  src/internal/ui/prompt/model.go
  src/internal/ui/prompt/model_test.go
  src/internal/ui/prompt/tokenize.go
  src/internal/ui/prompt/tokenize_test.go
  src/internal/ui/prompt/type.go
  src/internal/ui/prompt/utils.go
  src/internal/ui/prompt/utils_test.go
  src/internal/wheel_function.go
  src/superfile_config/config.toml
  src/superfile_config/hotkeys.toml
Labels: refactoring, new feature, high priority pr

#756 fix: Add some of the remaining linter and fix errors
  .golangci.yaml
  main.go
  src/cmd/main.go
  src/config/fixed_variable.go
  src/internal/common/load_config.go
  src/internal/common/predefined_variable.go
  src/internal/common/utils/bool_file_store.go
  src/internal/common/utils/bool_file_store_test.go
  src/internal/common/utils/consts.go
  src/internal/common/utils/file_utils.go
  src/internal/common/utils/log_utils.go
  src/internal/common/utils/shell_utils.go
  src/internal/common/utils/ui_utils.go
  src/internal/config_function.go
  src/internal/default_config.go
  src/internal/file_operations.go
  src/internal/function.go
  src/internal/handle_file_operations.go
  src/internal/handle_panel_movement.go
  src/internal/handle_panel_navigation.go
  src/internal/handle_panel_up_down_test.go
  src/internal/handle_pinned_operations.go
  src/internal/internal_consts.go
  src/internal/key_function.go
  src/internal/model.go
  src/internal/model_prompt_test.go
  src/internal/model_render.go
  src/internal/sidebar.go
  src/internal/sidebar_test.go
  src/internal/string_function.go
  src/internal/type_utils.go
  src/internal/ui/prompt/model.go
  src/internal/ui/prompt/model_test.go
  src/internal/ui/prompt/tokenize.go
  src/internal/ui/prompt/tokenize_test.go
  src/internal/ui/prompt/utils.go
  src/internal/ui/prompt/utils_test.go
  src/internal/wheel_function.go
  src/pkg/file_preview/image_preview.go
  testsuite/Notes.md
Labels: refactoring, bug fixes, high priority pr

#759 feat: Allow specifying multiple panels at startup
  src/cmd/main.go
  src/internal/config_function.go
  src/internal/default_config.go
  src/internal/model.go
  src/internal/model_prompt_test.go
  src/internal/type_utils.go
Labels: new feature

#762 fix: remove redundant function containsKey
  src/internal/key_function.go
  src/internal/model.go
Labels: refactoring

#775 feat: Initial draft of rendering package
  src/config/icon/function.go
  src/config/icon/icon.go
  src/internal/common/load_config.go
  src/internal/common/predefined_variable.go
  src/internal/common/string_function.go
  src/internal/common/string_function_test.go
  src/internal/common/style_function.go
  src/internal/config_function.go
  src/internal/model_render.go
  src/internal/ui/prompt/ReadMe.md
  src/internal/ui/prompt/model.go
  src/internal/ui/rendering/ReadMe.md
  src/internal/ui/rendering/border.go
  src/internal/ui/rendering/content_renderer.go
  src/internal/ui/rendering/content_renderer_test.go
  src/internal/ui/rendering/renderer.go
  src/internal/ui/rendering/renderer_core.go
  src/internal/ui/rendering/renderer_test.go
  src/internal/ui/rendering/truncate.go
  src/internal/ui/rendering/truncate_test.go
  src/internal/ui/sidebar/render.go
  src/internal/ui/sidebar/sidebar.go
  src/internal/ui/spf_renderers.go
  src/superfile_config/config.toml
  website/src/content/docs/configure/superfile-config.mdx
Labels: new feature, bug fixes

#781 Rendering package, and rendering bug fixes
  src/config/icon/function.go
  src/config/icon/icon.go
  src/internal/common/load_config.go
  src/internal/common/predefined_variable.go
  src/internal/common/string_function.go
  src/internal/common/string_function_test.go
  src/internal/common/style_function.go
  src/internal/config_function.go
  src/internal/model_render.go
  src/internal/ui/prompt/ReadMe.md
  src/internal/ui/prompt/consts.go
  src/internal/ui/prompt/model.go
  src/internal/ui/rendering/ReadMe.md
  src/internal/ui/rendering/border.go
  src/internal/ui/rendering/content_renderer.go
  src/internal/ui/rendering/content_renderer_test.go
  src/internal/ui/rendering/renderer.go
  src/internal/ui/rendering/renderer_core.go
  src/internal/ui/rendering/renderer_test.go
  src/internal/ui/rendering/truncate.go
  src/internal/ui/rendering/truncate_test.go
  src/internal/ui/sidebar/render.go
  src/internal/ui/sidebar/sidebar.go
  src/internal/ui/spf_renderers.go
  src/superfile_config/config.toml
  website/src/content/docs/configure/superfile-config.mdx
Labels: layout, new feature, bug fixes, high priority pr

#777 Update README.md - Warp Readme
  README.md
  asset/warp.png
Labels: documentation
