Repository yorukot/superfile, pull requests merged in 2025-05, with the labels that each got.

#797 Refactor CheckForUpdates
  src/cmd/main.go
Labels: WaitingForInfo, refactoring

#815 Write prompt tutorial, rename prompt mode to spf mode , add develop branch in github workflow, show_panel_footer_info flag
  .github/workflows/superfile-build-test.yml
  asset/prompt_shell_mode.png
  asset/prompt_spf_mode.png
  src/internal/common/config_type.go
  src/internal/model_render.go
  src/internal/ui/prompt/consts.go
  src/internal/ui/prompt/model.go
  src/internal/ui/prompt/model_test.go
  src/internal/ui/prompt/utils.go
  src/internal/ui/prompt/utils_test.go
  src/superfile_config/config.toml
  website/src/content/docs/configure/superfile-config.mdx
  website/src/content/docs/getting-started/tutorial.md
  website/src/content/docs/list/hotkey-list.md
Labels: documentation, new feature, high priority

#825 fix: convert unicode space to normal space, use rendered in file preview to fix layout bugs, Release 1.3.0
  flake.nix
  release/release.sh
  src/config/fixed_variable.go
  src/internal/common/predefined_variable.go
  src/internal/common/string_function.go
  src/internal/common/string_function_test.go
  src/internal/model_render.go
  src/internal/model_render_test.go
  src/internal/ui/rendering/content_renderer.go
  src/internal/ui/rendering/content_renderer_test.go
  src/internal/ui/rendering/renderer_core.go
  src/internal/ui/rendering/renderer_test.go
  src/internal/ui/spf_renderers.go
  website/public/install.ps1
  website/public/install.sh
  website/public/uninstall.ps1
  website/src/content/docs/list/hotkey-list.md
Labels: layout, bug fixes, high priority
